@import '../../variables/variablesStyle.scss';
.about_wrapper {
  margin-top: 60px;
  height: calc(100vh - 120px);
  background-color: $mainViolet;



  & .about_container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;


  }
}
