@import '../../../variables/variablesStyle.scss';

.common_btn{
  border: none;
  margin-top: 15px;
  background-color: $yellow;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s linear;

  &:hover, &:active{
    opacity: 0.85;
    color: #000;

  }

}