@import "../../../../variables/variablesStyle.scss";

.catalog_sort {
  position: sticky;
  flex: 1 1 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 15px 0 15px;
  height: 100%;
  top: 100px;

  & .sort_filter_title {
    font-size: 20px;
  }

  & .sort_item {
    margin-top: 15px;
    border: 1.5px solid #5b5a5a;
    border-radius: 10px;
    outline: none;
    padding: 5px 12px;
    font-size: 15px;
    color: #5b5a5a;
    transition: 0.2s all;

    &:focus, &:hover{
      border: 1.5px solid $yellow;
      color: #000;

    }


    &.disabled{
      background-color: rgba(91, 90, 90, 0.2);

      &:focus, &:hover{
        border: 1.5px solid #5b5a5a;
        color: #5b5a5a;
  
      }
      }


  }

  & .price_fields{
    display: flex;
    gap: 8px;
    
  }



  & .sort_select {
    width: 100%;
    cursor: pointer;
  }

  & .filter_button{
    margin-top: 15px;
  }
}
