.catalog_sort{
  flex: 1 1 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 15px 0 15px;
  
  & .sort_filter_title{
    font-size: 20px;
  }

  & .sort_select{
    margin-top: 25px;
    width: 100%;
  }
}