@import '../../variables/variablesStyle.scss';
.counter_circle {
  display: flex;
  position: absolute;
  top: -15px;
  right: -20px;
  z-index: 3;
  width: 22px;
  height: 22px;
  background-color: $yellow;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
