.Mui-yopta-input {
  &:hover {
    & .MuiFormLabel-root {
      color: rgba(0, 0, 0, 0.82);
    }
  }
  & .MuiFormLabel-root,
  .MuiInputBase-input {
    margin-left: 3px;
  }
  & .MuiFormLabel-root.Mui-focused {
    color: #faa60f !important;
  }

  & .MuiInput-root:before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  & .MuiInput-input {
    color: rgba(0, 0, 0, 0.82);

    &::placeholder{
      color: #faa60f;
    }

    
  }
  & .MuiInput-root:after {
    border-bottom: 2px solid #faa60f;
  }
}

.Mui-input-error {
  &:hover {
    & .MuiFormLabel-root {
      color: #ff3333 !important;
    }
  }

  & .MuiFormLabel-root,
  .MuiFormLabel-root.Mui-focused,
  .MuiInputBase-input,
  .MuiFormHelperText-root {
    color: #ff3333 !important;
  }

  & .MuiInput-root {
    &::before,
    &::after {
      border-color: #ff3333 !important;
    }

  & .MuiInput-input {
    &::placeholder{
      color: #ff3333 !important;
    }
  }
  }
}
